.landingPage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landingPage-contents {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #f5f5f5;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.3);
  padding: 100px 50px;
}

.landingPage-img {
  width: 47%;
}
.landingPage-img img {
  max-width: 100%;
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.landingPage-text {
  width: 48%;
  text-align: center;
}

.landingPage-text h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

.landingPage-text p {
  text-align: left;
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 20px;
}
.landingPage-text button {
  background-color: #4aaaac;
  border: none;
  outline: none;
  padding: 12px;
  width: 150px;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: all 0.7s ease 0s;
}

.landingPage-text button:hover {
  background-color: #6c757d;
}

@media (max-width: 960px) {
  .landingPage-contents {
    width: 95%;
    padding: 100px 40px;
  }
}

@media (max-width: 767px) {
  .landingPage {
    height: 100%;
  }
  .landingPage-contents {
    flex-direction: column;
    margin: 15px 0;
    padding: 30px 40px 60px 40px;
  }
  .landingPage-text {
    width: 100%;
  }
  .landingPage-img {
    width: 100%;
  }
  .landingPage-img img {
    height: 100%;
  }
}

@media (max-width: 500px) {
  .landingPage-contents {
    padding: 30px 20px 60px 20px;
  }
  .landingPage-text h1 {
    font-size: 30px;
  }
  .landingPage-text p {
    font-size: 16px;
  }
}