  /* quiz question section styles  */
  
  /* .options-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
  } */
  
  .options-container button {
	box-shadow: 0.03rem 0.06rem 0.1rem #09090908;
	cursor: pointer;
	background-color: #4aaaac7d;
	color: #fff;
	font-size: 18px;
	width: 70%;
	font-weight: 600;
	padding: 13px;
	margin: 13px auto 0 auto;
	border-radius: 5px;
	border: none;
	text-align: center;
	outline: none;
  }
  
  .options-container button:hover {
	background-color: #4aaaacda;
  }
  /* .options-container button:focus {
	background-color: #ecae10;
  } */
  

  /* media-queries */
  @media (max-width: 960px) {
	.options-container button {
		width: 80%;
	  }
  }
  
  @media (max-width: 767px) {
	.options-container button {
		font-size: 17px;
		width: 85%;
	  }
	}

	@media (max-width: 500px) {
		.options-container button {
			width: 90%;
		  }
		}