.container {
    width: 100%;
    max-height: 65vh;
    margin-top: 35px;
}

.code-editor {
    height: 100%;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.language-select {
    width: 20%;
}

.editor {
    height: auto;
    max-width: 100%;
}

.button-container {
    width: 100%;
}

.output-panel {
    width: 65%;
    height: 100%;
    border-radius: 11px;
    width: 65%;
    height: 100%;
    border-radius: 11px;
}

.run-button,
.submit-button {
    width: 47%;
    height: 100%;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
    padding: 10px 20px;
    margin-right: 10px;
}

.run-button:hover,
.submit-button:hover {
    background-color: lightgray;
}

.button_Box button.submit_code_btn {
    box-shadow: 0.03rem 0.06rem 0.1rem #09090908;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    width: 70%;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    text-align: center;
    outline: none;
}

.button_Box .submit_code_btn {
    background-color: #4aaaac7d;
}

.button_Box .submit_code_btn:hover {
    background-color: #4aaaacda;
}

.fullScreenButtonClass {
    position: fixed;
    z-index: 100;
    top: -42px;
    right: 5px;
}

.fullScreenButton {
    opacity: .6;
}

.fullScreenButton:hover {
    opacity: 1;
}

.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
    position: absolute;
    background: #4aaaac !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid #4aaaac !important;
    border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
}

.CodeMirror-overlayscroll-horizontal div {
    bottom: 0;
    height: 100%;
}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
    position: absolute;
    background: #4aaaac !important;
    border-radius: 3px;
}

.CodeMirror-overlayscroll-vertical {
    right: 0;
    top: 0;
    width: 1.5px !important;
}

.CodeMirror-overlayscroll-vertical div {
    right: 0;
    width: 100%;
}

.CodeMirror-overlayscroll-horizontal {
    bottom: 0;
    left: 0;
    height: 2.5px !important;
}

.CodeMirror-fullscreen{
    z-index: 99 !important;
}
/* media-queries */
@media (max-width: 960px) {
    .button_Box button.submit_code_btn {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .button_Box button.submit_code_btn {
        font-size: 17px;
        width: 85%;
    }
}

@media (max-width: 500px) {
    .button_Box button.submit_code_btn {
        width: 90%;
    }
}